@import '~antd/es/style/themes/index.less';

.header {
  height: 45px !important;
  background-color: #FFF;
  box-shadow: 0 2px 8px 0 rgba(174,186,208,.27);
}

.logo{
  width:80%;
  height:100%;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  position: relative;
  margin: 0;
  overflow: auto;
  background-color: #FFF;
  display: flex;
  width: 100%;
  // background-image: url('../../../public/VCG41N896058462.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1278px 559px;
  background-origin: border-box;
}

.loginArea {
  display: flex;
  align-items: center;
  flex-direction:column;
  width:40%;
  height: 100%;
}

.loginCard {
  width: 100%;
  height: 95%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.loginLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  margin: 20px;
}

.loginTitle {
  margin-bottom: 42px !important;
  font-size: 36px !important;
  color: #0079FE !important;
}


.submitButton{
  width: 100%;
  height: 44px;
  background-color: #FFBB32;
  border: 0;
  box-shadow: 0px 4px 15px 0px rgba(234, 171, 43, 0.5);
  border-radius: 4px;
}

.loginTitleTop{
  width: 200px;
  height: 50px;
  font-size: 50px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #EBAC2B;
  line-height: 50px;
  margin-bottom: 4px;
}
.loginTitleBottom{
  width: 260px;
  height: 20px;
  font-size: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
}


.bottom{
  height: 5%;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
}
.captcha{
  border: 1px solid #d9d9d9;
  height: 40px;
}