@import '~antd/es/style/themes/index.less';
.node{
    :global(.ant-select-tree-node-content-wrapper){
        color: black !important;
    }
}
.operationBtn {
    :global(.ant-btn) {
        padding: 0;
    }
}

.descripForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
    :global(.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label){
        padding: 4px 4px;
    }
    :global(.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content) {
        padding: 4px 4px;
    }
    .bottomBtn {
        margin-top: 40px;
        border-top: 1px solid #000;
    }
}
