@import "../../../App.module.less";

.search {
    margin-bottom: 16px;
}

.left {
    position: absolute;
    width: 30%;
}

.right {
    width: 69%;
    position: absolute;
    left: 31%;
}


.tableRow {
    padding: 0;
    height: @tableRowHeight;
    line-height: @tableRowHeight;
    box-sizing: border-box;
    border: none;
    &:nth-child(odd){
      background-color: #F8F8F8;
    }
}

.highLight {
    padding: 0;
    height: @tableRowHeight;
    line-height: @tableRowHeight;
    box-sizing: border-box;
    border: none;
    background-color: #ff8c00a0;
}

.userTable {
    max-height: 500px;
    overflow-y: auto;
}