.operationBtn {
    :global(.ant-btn) {
        padding: 0;
    }
}

.modalcontent {
    height: 600px;
    width: 100%;
    font-size: 0;
}

.btn {
    margin: 5px;
}

.left {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    max-height: 600px;
    overflow-y: auto;
}
.right {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-left: 25px;
    max-height: 600px;
    overflow-y: auto;
}