@import '~antd/es/style/themes/index.less';
.node{
    :global(.ant-select-tree-node-content-wrapper){
        color: black !important;
    }
}

.row_color_1 {
    background-color: rgb(252, 173, 95);
}

.row_color_2 {
    background-color: rgb(244, 209, 52);
}