@import '~antd/es/style/themes/index.less';

.topPadding {
    padding-top: 0;
    padding-bottom: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    color: #181818;
}

:global(.ant-btn) {
    padding: 6px 23px;
    line-height: 1;
}

.node{
    :global(.ant-select-tree-node-content-wrapper){
        color: black !important;
    }
}

.modal {
    :global(.ant-modal-body) {
        padding: 0 !important;
    }
}
