.ingredientsListWrapper {
    width: 100%;
    overflow: hidden;

    .content_wrapper {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 14px;
        overflow: hidden;

        .contentWrapperLeft {
            min-width: 76px;
            overflow: auto;
            border: 1px solid #eeee;
            margin-right: 20px;
            flex-shrink: 0;
            height: 100%;

            .contentWrapperLeftlist {
                width: 100%;
                padding: 4px 4px 6px 4px;
                box-sizing: border-box;
                display: flex;
                flex-wrap: nowrap;
                border-bottom: 1px solid #eee;
                color: #181818;
                cursor: pointer;

                .color {
                    width: 4px;
                    height: 10px;
                    background-color: red;
                    margin-right: 6px;
                    position: relative;
                    top: 4px;
                    left: 2px;
                }

                .structure_wrapper {
                    p {
                        font-size: 12px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }

            .active {
                background-color: #FF8C00;
                color: #fff;
            }
        }

        .content_wrapper_ringht {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            position: relative;

            .operation_button {
                position: absolute;
                top: 0px;
                right: 17px;
            }

            // 配料相关
            .ingredients_content_wrapper {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;

                .ingredients_content_wrapper_left {
                    width: 360px;
                    margin-right: 14px;

                    .ant-form-item {
                        margin-bottom: 8px !important;
                    }

                    .ant-empty-normal {
                        margin: 84px 0 !important;
                    }
                }

                .ingredients_content_wrapper_right {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;

                    .ingredients_content_wrapper_right_detail {
                        width: 270px;
                        margin-right: 12px;
                        flex-shrink: 0;

                        .ant-table-tbody {
                            // margin: 500px 0 !important;
                            // overflow: hidden;
                            min-height: 562px;
                        }
                    }

                    .ingredients_content_wrapper_right_programme {
                        width: 99%;
                        overflow: hidden;

                        // flex-shrink: 0;
                        .ant-table-tbody {
                            // margin: 500px 0 !important;
                            // overflow: hidden;
                            // height: 216px;
                        }

                        .title_wrapper {
                            width: 100%;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            margin-top: 18px;
                            margin-bottom: 6px;

                            div:nth-of-type(1) {
                                font-size: 16px;
                                font-family: PingFangSC-Medium, PingFang SC;
                                font-weight: bold;
                                color: #181818;

                                .textLabel {
                                    font-size: 12px;
                                    font-family: PingFangSC-Semibold, PingFang SC;
                                    font-weight: 600;
                                    color: #222222;
                                    margin-left: 6px;
                                }

                                .textValue {
                                    font-size: 12px;
                                    font-family: PingFangSC-Semibold, PingFang SC;
                                    font-weight: 600;
                                    color: #FF8C00;
                                    margin-left: 4px;
                                    margin-right: 12px;
                                }
                            }

                            div:nth-of-type(2) {
                                span {
                                    margin-right: 14px;
                                    font-size: 12px;
                                    font-family: PingFangSC-Regular, PingFang SC;
                                    font-weight: 400;
                                    color: #222222;
                                }
                            }
                        }

                        .marginTop {
                            margin-top: 0px;
                            margin-bottom: 15px;
                        }

                        .alternativeWrapper {
                            .ant-table-thead {
                                .ant-table-cell {
                                    padding: 8px 0px !important;
                                    text-align: center;
                                }
                            }
                            .ant-table-tbody {
                                .ant-table-cell {
                                    padding: 0px 0px !important;
                                    text-align: center;
                                }
                            }
                            .art-table-header-cell {
                                padding: 0px !important;
                                text-align: center;
                            }
                            .art-table-cell {
                                padding: 0px !important;
                                text-align: center;
                            }
                            td {
                                padding: 1px 0px !important;
                            }
                        }
                    }
                }
            }

            .topStrategyWrapper {
                width: 100%;
                margin-bottom: 8px;

                .texts {
                    font-size: 12px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #222222;
                    margin-left: 4px;
                }

                .values {
                    font-size: 12px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #FF8C00;
                    margin-left: 4px;
                    margin-right: 12px;
                }
            }
        }
    }
    .top-title-wrapper {
        margin-bottom: 12px;
        .title-name {
            font-size: 16px;
            color: #181818;
            font-weight: bold;
            margin-right: 12px;
        }
    }
    .texts {
        font-size: 12px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #222222;
    }

    .values {
        font-size: 12px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FF8C00;
        margin-left: 6px;
        margin-right: 12px;
    }
    .table-color-dust {
        background-color: #e3e0e0;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: transparent !important;
    }
}