
.ingredientsModal {
    .prepartion {
        .ant-table-tbody, .ant-table-thead {
            .ant-table-cell {
                padding: 0px !important;
                text-align: center;
            }
        }
        .ant-table-thead {
            height: 36px;
            line-height: 36px;
        }
    }
}