@import "../App.module.less";
.tab {
  :global(.ant-tabs-nav) {
    background-color: #fff;
    margin-bottom: 0;
    :global(.ant-tabs-tab) {
      padding: 13px 46px;
    }
  }
}

.filterCard {
  border-top: none;
  :global(.ant-card-body) {
    padding: 24px 24px 0px 24px !important;
    box-sizing: border-box;
  }
}

.table{
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td{
      padding: 12px;
  }
}

.tableRow{
  padding: 0;
  height: @tableRowHeight;
  line-height: @tableRowHeight;
  box-sizing: border-box;
  border: none;
  &:nth-child(odd){
    background-color: #F8F8F8;
  }
}

.tableCell{
  padding: 0 8px !important;
  border: none;
}