.tab {
    :global(.ant-tabs-nav) {
        background-color: #fff;
        margin-bottom: 0;
        :global(.ant-tabs-tab) {
            padding: 13px 46px;
        }
    }
}

.filterCard {
    border-top: none;
}

.table_overflow {
    overflow-x: auto !important;
}