@import '~antd/es/style/themes/index.less';

.hspace {
    align-items: baseline;
    :global(.ant-space-item) {
        // padding: 20px;
    }
}

.space :global(.ant-space-item),
.hspace :global(.ant-space-item) {
    width: 100%;
    margin-bottom: 12px !important;
}

.btnOperationContainer {
    text-align: center;
    // margin-bottom: 60px;
}

.title {
    border-left: 4px solid @primary-color;
    padding-left: 10px;
    font-weight: 500;
    margin-bottom: @margin-lg;
}

// 新增合同的修改
.cardWrapper {
    :global(.ant-card-body) {
        padding: 16px !important;
    }
}

.titleWrapper {
    font-size: 16px;
    color: #181818;
    font-weight: bold;
}