@import '~antd/es/style/themes/index.less';

.subinfo {
    font-size: @font-size-sm;
    color: @text-color-secondary;
}

.title {
    font-size: @heading-4-size;
    line-height: @heading-4-size;
    margin: 0;
}

.tabs {
    background-color: @component-background;
    :global(.ant-tabs-tab) {
        padding: @padding-sm @padding-lg;
    }
}