@import "../../../App.module.less";
.tableRow{
    height: @tableRowHeight;
    &:nth-child(even){
        background-color: @backgroundColor;
    }
}

.operationBtn {
    :global(.ant-btn) {
        padding: 0;
    }
}

.hidden {
    display: none;
}

.topPadding {
    padding-top: 20px;
}

.rightPadding5 {
    padding-right: 5px;
}

.topForm {
    padding-bottom: 20px;
    width: 100%;
    .btnRight {
        position: absolute;
        right: 5%;
    }
}

:global(p) {
    margin-bottom: 0;
}

.normal {
    width: 100%;
    height: 12px;
}

.red {
    background-color: #F9A1A1 !important;
    color: #FFF;
}

.green {
    background-color: #89DF88 !important;
    color: #FFF;
}

.yellow {
    background-color: #FFB401 !important;
    color: #FFF;
}

.brown {
    background-color: #FF8C00 !important;
    color: #FFF;
}

.padding16 {
    padding: 16px;
}

.btnRight {
    position: absolute;
    right: 16px;
    :global(.ant-btn) {
        margin-right: 10px;
    }
}

.topcontent {
    padding: 15px;
    font-size: 16px;
}

.node{
    :global(.ant-select-tree-node-content-wrapper){
        color: black !important;
    }
}

.titleContent {
    font-size: 16px;
    padding: 16px 0px;
    width: 100%;
    .title {
        box-sizing: border-box;
        font-size: 16px;
        color: #181818;
        font-weight: bold;
    }
    .content {
        color: @primary-color;
    }
}


.tryAssemble {
    :global(.ant-modal-body) {
        padding: 0 !important;
    }
}

.fastBtn {
    position: absolute;
    right: 0px;
}

.descripForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
}

.weldingGreen {
    padding: 5PX;
    background-color: #89DF88 !important;
    color: #FFF;
    font-weight: bold;
}

.sectionModal {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }

    :global(.ant-table-tbody > tr > td) {
        padding: 6px 16px;
    }
}

.uploadModal {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }

    .uploadBtn {
        margin-top: 10px;
    }
}