.descripForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
    .bottomBtn {
        margin-top: 40px;
        border-top: 1px solid #000;
    }
}
:global(.ant-btn) {
    padding: 6px 23px;
    line-height: 1;
}
.topPadding {
    padding: 20px 0 !important;
}

.modalHeight {
    max-height: 600px;
    overflow-y: auto;
}

.fastBtn {
    position: absolute;
    right: 0;
    top: 4px;
}

.row_color_1 {
    background-color: rgb(252, 173, 95);
    :global(.ant-table-cell-fix-left) {
        background-color: rgb(252, 173, 95);

    }
}

.key {
    padding-right: 16px;
}