.description {
    margin-bottom: 16px;

    :global(.ant-form-item) {
        margin-bottom: 0;
    } 
    :global(.ant-input[disabled]) {
        color: #000;
    }
    :global(.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
        color: #000 !important;
    }
}


.weldingGreen {
    padding: 5PX;
    background-color: #89df88 !important;
    color: #FFF;
    font-weight: bold;
}

.patchList {
    
    .selected {
        background-color: #ff8c00a2;
    }

    .noPutStorage {
        background-color: #8adf88a2;
    }

    .noDelivery {
        background-color: #F9A1A1a2;
    }
}