.icon {
    margin-right: 8px;
}

.menu {
    &:global(.ant-menu-inline-collapsed:not(.ant-layout-sider-children > ul)) {
        width: 48px;
        :global(i.font_family) {
            margin-right: 16px;
        }
    }
}