.descripForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
    .bottomBtn {
        margin-top: 40px;
        border-top: 1px solid #000;
    }
}
.topPadding {
    padding-top: 20px;
}
    
.red {
    background-color: #F9A1A1 !important;
    color: #FFF;
}
.operationBtn {
    :global(.ant-btn) {
        padding: 0;
    }
}

.copy {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
}

.key {
    padding-right: 16px;
}