@import '~antd/es/style/themes/index.less';

.cardBorder {
    background-color: #fff;
    // border: 1px solid #aaa;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
}
.left{
    padding: 15px;
    margin-right: 20px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 4px;
}
.left1{
    padding: 15px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 4px;
}
.left_top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 50px;
}

.top_left{
    width: 75px; 
    height: 35px; 
    background: #FF8C00; 
    position: relative;
    top: 10px; 
    left: -15px; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 35px; 
    font-size: 15px; 
    color: #FFFFFF; 
    text-align: center; 
    font-weight: 700;
}


.left_top_right{
    width: 60%;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #303133;
    div{
        padding:10px 0px;
    }
}
.left_top_right_middle{
    width:98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left_middle{
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    color: #303133;
    margin-top: 10px;
}

.left_middle_bottom{
    border-bottom: 1px solid #DEDEDE;
    margin: 10px 100px;
}
.left_bottom{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 100px;
}

.left_bottom_right{
    display: flex;
    align-items: center; 
    width: 112px;
    height: 75px;
    background: rgba(24, 144, 255, 0.1);
    border-radius: 10px;
    justify-content: center; 
    flex-direction: column;
    color: #333;
    font-weight: bold;
    font-family: Microsoft YaHei;
}

.left_bottom_left{
    display: flex;
    align-items: center; 
    width: 112px;
    height: 75px;
    background: rgba(181, 181, 181, 0.1);
    border-radius: 10px;
    justify-content: center; 
    flex-direction: column;
    color: #333;
    font-weight: bold;
    font-family: Microsoft YaHei;
}
.left_bottom_middle{
    display: flex;
    align-items: center; 
    width: 112px;
    height: 75px;
    background: rgba(204, 225, 152, 0.07);
    border-radius: 10px;
    justify-content: center; 
    flex-direction: column;
    color: #333;
    font-weight: bold;
    font-family: Microsoft YaHei;
}

.singer{
    background-color: #fff;
}
.double{
    background-color: #F0F6FC;
}


.bottom{
    position: absolute;
    right: 20px;
    bottom: 0px;
}






:global(.ant-progress-text){
    color: #FF8C00 !important; 
}


.card_part_left{
    height: 730px;
    overflow-Y: auto;
}
.card_steps{
    padding: 50px
}

.card_part_right{
    background: #fff
}
.tower{
    display: flex;
    align-items: center;
}
.tower_title{
    flex-direction: column;
}
.text{
    resize: none
}
.text_button{
    margin: 10px 0px;
}

.card_part_right_bottom{
    display: flex;
    justify-content: center
}
.card_part_right_list{
    overflow-y: auto;
    height: 625px;
    width: 100%
}
.card_part_right_list1{
    overflow-y: auto;
    height: 625px;
    width: 100%
}

.card_right{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}