@import "../../App.module.less";
@import '~antd/es/style/themes/index.less';

.tableRow{
    height: @tableRowHeight;
    &:nth-child(even){
        background-color: @backgroundColor;
    }
}

.title {
    margin: 10px 10px 10px 0;
    .description {
        padding-left: 50px;
    }
    .content {
        color: @primary-color;
    }
}

.detailtitle {
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    font-size: 16px;
    color: #181818;
    font-weight: bold;
    .content {
        padding-left: 15px;
        font-size: 14px;
        font-weight: normal;
    }
    .num {
        color: @primary-color;
    }
    .operationBtn {
        position: absolute;
        right: 16px;
    }
}

.descripForm {
    :global(.ant-form-item) {
        margin-bottom: 0;
    }
}

.topForm {
    padding-bottom: 20px;
    width: 100%;
}

