.logo,
.header {
    height: 40px;
    background: #181818;
}

.logo {
    padding: 10px 20px;
}

.header {
    line-height: 40px;
    padding: 0 15px;
}

.navigation {
    height: calc(100% - 40px);
    overflow: auto;
}

.content {
    overflow: auto;
    // padding: 20px;
}