.width100 {
    width: 100% !important;
    :global(.ant-card-body) {
        padding: 0px 16px 16px 16px !important;
        box-sizing: border-box;
    }
}

.height100 {
    height: 100% !important;
}

.hidden {
    display: none;
}

.logout {
    position: absolute;
    height: 40px; 
    right: 0;
    top:0;
    z-index: 2;
    color: #FFFFFF;
    line-height: 40px;
    .icon {
        font-size: 20px; 
        padding-right: 5px;
    } 
    .btn {
        color: #FFFFFF;
        padding-right: 5px;
    }
}
.opration {
    :global(.ant-btn) {
        padding: 0;
    }
}