@import "../App.module.less";
.logo,
.header {
    height: 40px;
    background: #181818;
}

.logoStyle{
    float: left;
    margin: 0;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.breadcrumb {
    float: left;
    line-height: 40px;
    display: flex;
    color: #fff;
    padding-left: 20px;
    line-height: 40px !important;
    height: 40px;
    :global(.ant-breadcrumb-link),
    :global(a),
    :global(.ant-breadcrumb-separator) {
        color: rgba(255, 255, 255, 0.4);
    }
    :global(span:last-child span) {
        color: #fff;
    }
}

.ant-breadcrumb-separator{
    color: #fff;
}

.logo {
    height: 90%;
    color: #FF8C00;
}

.header {
    position: relative;
    width: 100%;
    line-height: 40px;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    height: calc(100% - 40px);
    overflow: auto;
    background-color: @backgroundColor;
}

.content {
    overflow: auto;
    // padding: 20px;
    background-color: #fff;
}

.headerContent{
    background-color: #181818;
    line-height: 40px;
    padding: 0 16px;
    .header{
        line-height: 40px;
    }
}

.width100 {
    width: 100% !important;
    :global(.ant-card-body) {
        padding: 0px 16px 16px 16px !important;
        box-sizing: border-box;
    }
}

.height100 {
    height: 100% !important;
}

.hidden {
    display: none;
}

.logout {
    position: absolute;
    height: 40px; 
    right: 0;
    top:0;
    z-index: 2;
    color: #FFFFFF;
    line-height: 40px;
    .icon {
        font-size: 20px; 
        padding-right: 5px;
    } 
    .btn {
        color: #FFFFFF;
        padding-right: 5px;
    }
}
.opration {
    :global(.ant-btn) {
        padding: 0;
    }
}