.product {
    // width: 100%;
    overflow: scroll

}

.addBtn {
    position: absolute;
    right: 80px;
    margin-top: -60px;
}


.FormItem {
    list-style: none;
    white-space: nowrap;
    display: block;
    li {
        display: inline-block;
        width: 120px;
    }
    .headerItem {
        padding: 20px;
        background-color: #f5f5f5;
    }
    .leftBlank {
        width: 1080px;
    }
}
.isShow{
    display: none !important;
}
.ishidden {
    display: none;
}